*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  font-family: "Poppins" !important;
  box-sizing: border-box;
}

.space-1 {
  height: 1rem;
  width: 100%;
}

.space-2 {
  height: 2rem;
  width: 100%;
}

.space-3 {
  height: 3rem;
  width: 100%;
}

.space-4 {
  height: 4rem;
  width: 100%;
}

h1 {
  font-size: 5.4rem !important;
  font-weight: 700 !important;
  line-height: 6rem !important;
  color: $secondary-low !important;
}

h2 {
  font-size: 3.6rem !important;
  font-weight: 700 !important;
  line-height: 4rem !important;
  color: $secondary-low !important;

  @media (max-width: 576px) {
    text-align: center !important;
  }

  @media (min-width: 576px) {
    text-align: center !important;
  }

  @media (min-width: 768px) {
    text-align: left !important;
  }
}

h3 {
  font-family: "Open Sans" !important;
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  line-height: 4rem !important;
  color: $accent-one !important;
}

p {
  font-family: "Open Sans" !important;
  font-size: 1.8rem !important;
  font-weight: 400 !important;
  line-height: 2.4rem !important;
  color: $secondary-low !important;

  @media (max-width: 576px) {
    text-align: center !important;
  }

  @media (min-width: 576px) {
    text-align: center !important;
  }

  @media (min-width: 768px) {
    text-align: left !important;
  }
}
